.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  font-size: 30px;
 }
 .h1 {
	color: #FAFAFA;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 2px solid #884909;
	width: 280px;
	margin: auto;
	line-height: 80px;
 }
 * {
 	margin: 0;
 	padding: 0;
 	font-family: monteserrart
 }
 .main-container {
	text-align: center;
	background: #FAFAFA;
}
.heading {
	padding-top: 80px;
	color: #444;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 2px solid #884909;
	width: 280px;
	margin: auto;
	line-height: 80px;
}
.sub-container {
	max-width: 1200px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.members {
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.3s;
}
.members:hover {
	background: #ddd;
}
.members img {
	width: 100px;
	height: 100px;
	border: 1px solid #E1E0DE;
	border-radius: 50%;
}
.name {
	padding: 20px;
	color: #8A3E07;
	text-transform: uppercase;
}
.post {
	font-style: italic;
	color: #999;
}
.desc {
	margin: 20px 0;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	color: #4e4e4e;
}
.social-media {
	margin: 10px;
}
.social-media a {
	display: inline-block;
	height: 2px;
	width: 30px;
	transition: 0.2s;
}
.social-media a:hover{
	transform: scale(1.3);
}
.social-media a i{
	color: #1F76ED;
}
@media screen and (max-width: 980px){
	.members{
		max-width: 45%;
	}
}
@media screen and (max-width: 600px){
	.members{
		max-width: 100%;
	}
}

footer{
	background-color: darkslategray;
	padding: 30px;
	}
	
	.click{
		text-align: center;
	}
	